@*@model  OBSMVC.Models.qatTags*@

@* ===== THIS PARTIAL VIEW REPRESENTS A ADD NEW SELECTABLE ANSWER VIEW ======= *@

<div class="row answerType" id="testing" style="margin-left:10px; border:double; border-color:green; font-family:Arial" >
    <div class="row">
        <div class="col-sm-6 form-inline">
            <div class="input-group col-sm-7">
                <span class="input-group-addon label-primary" style="color:white; max-width:25%">Answer Type:</span>

                @Html.DropDownList("fullSelATlist", null, "-Select Answer Type-", htmlAttributes: new { @class = "form-control selectAT" })
            </div>
        </div>

        <div class="col-sm-3 col-sm-offset-3 form-inline" style="text-align:right">
            <div class="input-group">
                <span class="input-group-addon">Default </span>
                <button type="button" class="btn btnIsDefault btn-warning">NO&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span></button>
            </div>
        </div>
    </div>

    <div class="row divLabel" style="display:none">
        <ul clas="ulSALabel">
            <li style="display: inline" id="testLi">
                <button id="removeData" class="editSA" type="button" style="background-color:white">Remove&nbsp;<span class="glyphicon glyphicon-erase"></span></button>
                <span>&nbsp;&nbsp;</span>
            </li>
        </ul>
        <br />
    </div>


    <div id="partialNewSA">


    </div>


    <br />
    <input type="button" id="something" onclick="$('#addQuestion').prop('disabled', false)" value="Click me" />
</div>
<br />



<script>
    $(document).ready(function () {
        $(".selectAT").change(function () {
            var selectedId = $(this).find('option:selected').attr('id');
            var selectedValue = $(this).val();
            //var selectedValue = $('#fullSelATlist').val();

            alert("Dropdown List was changed! You Selected Id: " + selectedId + " with a value of '" + selectedValue + "'");
        });
    });
</script>




