@*@model  OBSMVC.Models.qatTags*@

@* ===== THIS PARTIAL VIEW REPRESENTS A ADD NEW SELECTABLE ANSWER VIEW ======= *@


<div class="row answerType" id="testing" style="border:solid; border-width:1px; font-family:Arial">
    <div class="row">
        <div class="col-sm-6 form-inline">
            <div class="input-group col-sm-7">
                <span class="input-group-addon label-primary" style="color:white; max-width:25%">Answer Type:</span>

                @Html.DropDownList("fullSelATlist", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="col-sm-3 col-sm-offset-3 form-inline" style="text-align:right">
            <div class="input-group">
                <span class="input-group-addon">Default </span>
                <button type="button" class="btn btnIsDefault btn-warning">NO&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span></button>
            </div>
        </div>
    </div>

    <div class="row divLabel" style="display:none">
        <ul clas="ulSALabel">
            <li style="display: inline" id="testLi">
                <button id="removeData" class="editSA" type="button" style="background-color:white">Remove&nbsp;<span class="glyphicon glyphicon-erase"></span></button>
                <span>&nbsp;&nbsp;</span>
            </li>
        </ul>
        <br />
    </div>


    <div id="partialNewSA">


    </div>



    @*<div class="row form-inline divText" id="@divSAText" style="display:none">
            &nbsp;
            <div class="col-sm-7">
                <br /><br />
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" />
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" />
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" />
                <input type="text" value="" class="form-control selAnswerTextb sel5val" placeholder="Enter a Value" style="display:none"/>
                <input type="text" value="" class="form-control selAnswerTextb sel5val" placeholder="Enter a Value" style="display:none" />
                    <br /><br />
                <span>&nbsp;</span>
                <br /><br />
            </div>
            <div class="col-md-5 personal-info" id="divTemplate">

                  // - - - - - -- - - - - INSERT HERE The Selectable Answers Templates Panel (From External Partial View) --------
                    //------------------------------------------------------------------------------------------------------------------

                @Html.Action("selAnsTemplates", new { templateCathegory = Model.answer_type_category })

                  // - - - - - - - END OF Selectable Answers Templates Panel (From External Partial View) --------
                    //-------------------------------------------------------------------------------------------------------

            </div>
        </div>




        <div class="row form-inline divText" id="divSATextSelList" style="display:none">
            &nbsp;
            <div class="col-sm-12">
                <br /><br />
                    <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" />
                    <br />
                <span>&nbsp;</span>
                <button id="addToList" type="button">Add Item</button>
                <br /><br />
            </div>
        </div>


        <div class="row form-inline divText" style="display:none">
            <br />
            This Selection does not require Selectable Answers
            <br />
        </div>*@

    <br />
    <input type="button" id="something" onclick="$('#addQuestion').prop('disabled', false)" value="Click me" />
</div>









