@*@model  OBSMVC.Models.qatTags*@

@* ===== THIS PARTIAL VIEW REPRESENTS A ADD NEW SELECTABLE ANSWER VIEW ======= *@
<script>
    function makeDflt(defaultBtn) {
                //var btnClass = "test";
                //if (defaultBtn.hasClass('btnYES'))
                //{ btnClass = "This is a default Button" }
                //else { btnClass = "This is not default Button" }


        if (defaultBtn.hasClass('btnYES')) {
            defaultBtn.removeClass("btnYES").addClass("btn-warning");
            defaultBtn.html('NO&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down">');
        }
        else {
            //Else, reset all buttons to "No Default" and make this button the default
            $(".btnIsDefault").removeClass("btnYES").addClass("btn-warning");
            $(".btnIsDefault").html('NO&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down">');
            defaultBtn.removeClass("btn-warning").addClass("btnYES");
            defaultBtn.html('YES&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up">');
        }
    }
</script>
<div class="row answerType" id="testing" style="margin-left:10px; border:double; border-color:green; background-color:lightslategray; font-family:Arial">
    <div class="row">
        <div class="col-sm-6 form-inline">
            <div class="input-group col-sm-7">
                <span class="input-group-addon label-primary" style="color:white; max-width:25%">Answer Type:</span>

                @Html.DropDownList("fullSelATlist", null, "-Select Answer Type-", htmlAttributes: new { @class = "form-control selectAT" })
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-3 form-inline" style="text-align:right">
            <div class="input-group">
                <span class="input-group-addon">Default </span>
                <button id="btnNewATdefault" type="button" class="btn btnIsDefault btn-warning" onclick="makeDflt($(this))">
                     NO&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span>
                </button>
            </div>
        </div>
    </div>


    <div id="divNewAT" class="row divText" >
        &nbsp;
        <div class="col-sm-6 col-sm-offset-1">
            <div class="row" id="noSelection" style="display:none">
                <div class="col-sm-10 col-sm-offset-1">
                    <br />
                    <span class="label label-primary" style="font-size:larger; font-weight:bold">This Selection does not require Selectable answers</span>
                    <br /><br />
                </div>
            </div>
            <div class="row" id="ValRange3" style="display:none">
                <br />
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" /><br />
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" /><br />
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" /><br />
            </div>

            <div class="row" id="ValRange5" style="display:none">
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" /><br />
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" /><br />
                @*<input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" /><br />
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" /><br />
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" /><br />*@
            </div>

            <div class="row form-inline" id="multiList" style="display:none">
                <button type="button" class="addTextBox"> <span class="glyphicon glyphicon-plus"> Add New Answer</span></button>
                <div id="newTB" class="row form-inline">

                </div>
                @*<div class="row form-inline">
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" />
                <button type="button" class="deleteTextBox" onclick="removeMe()"> <span class="glyphicon glyphicon-trash"></span></button>
                </div>
                *@
            </div>

            <br />
            <input type="button" id="btnSaveNewAT" value="Save Answer Type and Values" style="display:none" />
            <span>&nbsp;&nbsp;&nbsp;</span>
            <button id="btnCancel" class="cancelNewSA" type="button">CANCEL</button>
            <br /><br />

        </div>        
        <div id="divTemplates" class="col-md-5 personal-info">

            @*  // - - - - - -- - - - - INSERT HERE The Selectable Answers Templates Panel (From External Partial View) --------
            //------------------------------------------------------------------------------------------------------------------*@


            @*  // - - - - - - - END OF Selectable Answers Templates Panel (From External Partial View) --------
            //-------------------------------------------------------------------------------------------------------
            *@
        </div>
    </div>
</div>
<br />



<script>
    $(document).ready(function () {

        $("#fullSelATlist").change(function () {
            var selCathegory = "Other";
            var selectedText = $(this).find('option:selected').text().substring(0,5);
            var selectedValue = $(this).val();
            //var selectedValue = $('#fullSelATlist').val();

            //If the selected Index from the dropdown list is empty, disable the Save Button
            if (selectedText == "-Sele") {
                $('#btnSaveNewAT').hide();
            }
            else { $('#btnSaveNewAT').show(); }

            if (selectedText == "3 Val") {
                selCathegory = "3 Val Range";                
                $('#noSelection').hide();
                $('#ValRange5').hide();
                $('#ValRange5').children('.selAnswerTextb').val("");
                $('#multiList').hide();
                $('#multiList').children('.selAnswerTextb').val("");
                $('#ValRange3').show();
            }
            else if (selectedText == "5 Val") {
                selCathegory = "5 Val Range";
                $('#noSelection').hide();
                $('#ValRange3').show();
                $('#ValRange3').children('.selAnswerTextb').val("") ;
                $('#multiList').hide();
                $('#multiList').children('.selAnswerTextb').val("");
                $('#ValRange5').show();
            }
            else if (selectedText == "Multi" || selectedText == "Singl") {
                $('#ValRange3').hide();
                $('#ValRange3').children('.selAnswerTextb').val("");
                $('#ValRange5').hide();
                $('#ValRange5').children('.selAnswerTextb').val("");
                $('#noSelection').hide();
                $('#multiList').show();

                //var divToAdd = '<div class="row form-inline newTB"> <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" /> </div>'
                var addTextBox = '<input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" />'
                var addDelButton = $('<button  type="button" ><span class="glyphicon glyphicon-trash"></span></button>').click(function () {
                    $(this).parent().remove();
                });
                //$('#multiList').append(divToAdd).children(".newTB").last().append(delButton);
                // Clear all previously created Text boxes if any and Add the TextBox-Del Buttons
                $('#newTB').html("");
                $('#newTB').append(addTextBox);
                $('#newTB').append(addDelButton);
            }
            else {
                $('#ValRange3').hide();
                $('#ValRange3').children('.selAnswerTextb').val("");
                $('#ValRange5').hide();
                $('#ValRange5').children('.selAnswerTextb').val("");
                $('#multiList').hide();
                $('#multiList').children('.selAnswerTextb').val("");
                $('#noSelection').show();
            }

            //Load the Templated based on the Cathegory that was selected
            //alert("Retrieving Templates: " + selCathegory);
            $.ajax({                
                url: '@Url.Action("selAnsTemplates", "Question")',
                method: "GET",
                cache: false,
                dataType: "html",
                data: { templateCathegory: selCathegory },     //<---- Data Parameters (if not already passed in the Url)
                //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
                //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
                //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
                //traditional: true,                                       //<--- In case we wanted to post a JSON data object

                //--- On error, execute this function ------
                error: function () {
                    alert("Failed to retrieve appropriate Templates for Selection! [" + "selCathegory" + "]");  //<-- Trap and alert of any errors if they occurred
                }
            }).done(function (d) {
                //Execute this code After the Ajax call completes successfully
                //$("#accordion").append(d);
                //alert('Save Resullt: ' + d)
                $("#divTemplates").html(d);
            });
        });


        $('.addTextBox').click(function () {
            var divToAdd = '<div class="row form-inline newTB"> <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" /></div>'
            var delButton = $('<button  type="button" ><span class="glyphicon glyphicon-trash"></span></button>').click(function () {
                $(this).parent().remove();
            });
            $('#multiList').append(divToAdd).children(".newTB").last().append(delButton);
        });
        //------------ BUTTON CANCEL ENTERING NEW ANSWER TYPE -----------------------------------------------------
        $('.cancelNewSA').click(function () {
            $(this).parents("div.answerType").first().remove();
            $("#addAnsType").removeAttr('disabled');
        });
        //--------------------- SOFT SAVE NEW SELECTABLE ANSER --------------------------------
        $('#btnSaveNewAT').click(function () {
            var hasEmptyValues = false;
            var textValues = "";
            var counter = 0;
            var emptyBoxes = 0;
            $('#divNewAT').find('.selAnswerTextb').each(function () {
                counter = counter + 1;
                if ($(this).val() != "") {

                    textValues = textValues + $(this).val() + ",";
                }
                else {
                    hasEmptyValues = true;
                    emptyBoxes++;
                }
            });

            ///alert(counter + " Text Boxes were found. The values Found are: " + textValues + " [Empty Boxes: " + emptyBoxes + "]");


            var isDefaultValue = "false";
            if ($('#btnNewATdefault').hasClass('btnYES')) {
                isDefaultValue = "true";
            }

            var postParams = $("#fullSelATlist").val() + "," + isDefaultValue + "," + textValues;

            ///alert("Parameter passed to Ajax are: " + postParams);

            $('#addAnsType').prop('disabled', false)
            // --------------------------- SOFT SAVE NEW ANSWER TYPE VIA AJAX (NOT POSTED TO DB) --------------
            $.ajax({
                url: '@Url.Action("saveNewSelectableAnswer", "Question")',
                method: "GET",
                cache: false,
                dataType: "html",
                data: { input_data: postParams },     //<---- Data Parameters (if not already passed in the Url)
                //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
                //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
                //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
                //traditional: true,                                       //<--- In case we wanted to post a JSON data object

                //--- On error, execute this function ------
                error: function () {
                    alert("Failed to retrieve appropriate Templates for Selection! [" + "selCathegory" + "]");  //<-- Trap and alert of any errors if they occurred
                }
            }).done(function (d) {
                //Execute this code After the Ajax call completes successfully
                //$("#accordion").append(d);
                //alert('Save Resullt: ' + d)
                $("#divaddedSA").append(d);
                $("#divNewSA").html("");
                //If saving is successful, enable the Question Save Button
                $("#btnAddQuestion").removeAttr('disabled');
                $('#mesageaddedSA').show();
                $('#noATmsg').remove();
            });


        });

    });
</script>

