@model  OBSMVC.Models.AddedSelAnswer

@* ===== THIS PARTIAL VIES REPRESENTS A SINGLE QUESTION ANSWER TYPE TO BE USED FOR QUESTION VIEW/MAINTENANCE MODE ======= *@

@{
    var is_default = Model.isDefault ? "true" : "false";
    var value_to_submit = Model.ans_type_id + "~" + is_default;
    if (Model.selAnsList.Count > 0)
    {
        foreach(string s in Model.selAnsList)
        {
            value_to_submit = value_to_submit + "~" + s;
        }
    }
}

<div class="col-sm-12 answerType" id="testing" style="border:solid; border-width:1px; background-color:#ddebfc; border-color:blue; font-family:Arial">
    <input type="hidden" id="ans_type_list" value="@value_to_submit" name="ans_type_list" />
    <div class="row">
        <div class="col-sm-6 form-inline">          
            <div class="input-group col-sm-7">
                <span class="input-group-addon label-primary" style="color:white; max-width:25%">Answer Type:</span>
                <input type="text" class="form-control" id="qat" value="@Model.ans_type_name" readonly="readonly" style="max-width:100%; width:100%">
            </div>
        </div>

        <div class="col-sm-3 col-sm-offset-3 form-inline" style="text-align:right">
            <div class="input-group">
                <span class="input-group-addon">Default </span>
                @if (Model.isDefault)
                { <button type="button" class="btn btnIsDefault btnYES" onclick="toggleDefault($(this))">YES&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span></button> }
                else
                { <button type="button" class="btn btnIsDefault btn-warning" onclick="toggleDefault($(this))">NO&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span></button> }
                @*<input type="checkbox" @if (Model.QAT.obs_qat_default_ans_type_yn == "Y") { <text> checked="checked" </text>     }
                    class="form-control primar chkDefault" id="qatDefault" name="qatDefault" style="max-width:20%" />*@
            </div>
            &nbsp;
            <button type="button" class="btn btn-default" onclick='$(this).parents("div.answerType").first().remove();'>
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>

    <div class="row divLabel">
        @if (Model.selAnsList.Count>0)
        {
            <ul clas="ulSALabel">
                
                @foreach (string x in Model.selAnsList)
                {
                    <li style="display: inline;" id="testLi"><span class="badge" style="font-size:larger">@x</span>&nbsp;&nbsp;</li>
                }
            </ul>
            <br /><br />
        }
        else
        {
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <br /><span style="font-size:larger; font-weight:bold">This Answer Type does not require Selectable answers</span><br /><br />
                </div>
            </div>
        }
    </div> 
</div>


