@model   IEnumerable<string>


<div class="panel panel-info ">
    <div class="panel-heading">
        <h4><b>SUGGESTED TEMPLATES</b></h4>
    </div>
    <div class="panel-body" id="QATtemplates">
        <br />
        <table class="table table-condensed table-hover" style="width:100%" id="TemplatesId">
            @foreach (string template in Model)
            {
                <tr>
                    <td style="width:80%">
                        @template
                    </td>
                    <td style="width:20%">
                        @if (!@Model.ElementAt(0).Equals("NO TEMPLATES NEEDED"))
                        {
                            <input type="button" class="btnTemplate" id="TemplateLink" value="Use This Template" onclick="loadTemplate($(this),'@template')" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

