@model OBSMVC.Controllers.QuestionController.OBSQuestion

@*@{
        Layout = null;
    }*@

<script type="text/javascript">
    $('#AnswerTypesDDL').on('change', function (event) {
        var form = $(event.target).parents('form');
        form.submit();
    });
</script>

<table style="width:80%">
  <tr>
    <td style="width:50%">
       @using (Html.BeginForm())
       {
          <input type="hidden" id="question_id" name="question_id" value="@Model.questionId" />
          <input type="hidden" id="save" name="save" value="false" />
          <br /><br /><br />
          @Html.DropDownList("AnswerTypesDDL", Model.fullAnswerTypeDDL, "None")
          <br />

          if (Model.selectedAT.hasSelectableAnswers)
          {
             @:Currect Selectable Answers
          }
          else
          {
             @:No Selectable Answers Found <br />(Sugested Values)
          }

          <ul>
             @foreach (string selEntry in Model.selectedAT.selAnsList)
             {
                <li>
                  @selEntry
                </li>
             }
          </ul>
          <br />
       }
    </td>
    <td style="width:50%">
       SUGGESTED TEMPLATES
    </td>
  </tr>
  <tr>
    <td>
        <button type="submit" id="btnSave" value="Save Changes"></button>
    </td>
  </tr>
</table>
