@model OBSMVC.Controllers.QuestionController.OBSQuestion

@{
    Layout = null;
}

<br /><br /><br />
@Html.DropDownList("SelectedAnswerTypes", Model.fullAnswerTypeDDL, "None")
<br />
<ul>
    @foreach (OBSMVC.Models.OBS_QUEST_SLCT_ANS selAnswer in Model.obsQA_List[Model.indexOfDefaultQA].selectableAnsList)
    {
        <li>
            @selAnswer.obs_qsa_text
        </li>
    }
</ul>

<br />