@* ===== THIS PARTIAL VIEW REPRESENTS THE 'ADD NEW SELECTABLE ANSWER' VIEW USED IN THE FORM POPUP WINDOW ======= *@
<div class="row answerType divText" id="newQATsection" style="border-style:double; border-width:2px; font-family:Arial; min-height:300px; margin-left:10px">
    <div class="col-sm-6">
        <div class="row">
            <br />
            <div class="col-sm-12 form-inline" style="max-width:100%; width:100%; margin-left:10px">
                <div class="input-group" style="max-width:100%; width:100%">
                    <span class="input-group-addon label-primary" style="color:white; ">Answer Type:</span>
                    @Html.DropDownList("fullSelATlist", null, "-Select Answer Type-", htmlAttributes: new { @class = "form-control selectAT" })
                </div>
            </div>
        </div>

        <div class="row" id="noSelection" style="display:none">
            <div class="col-sm-10 col-sm-offset-1">
                <br />
                <span class="label label-primary" style="font-size:larger; font-weight:bold">This Selection does not require Selectable answers</span>
                <br /><br />
            </div>
        </div>
        <div class="row" id="ValRange3" style="display:none; margin-left:20px; margin-bottom: 2px; margin-top: 2px">
            <br />
            <div class="line">
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" />
            </div>
            <div class="line">
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" />
            </div>
            <div class="line">
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" />
            </div>
        </div>

        <div class="row" id="ValRange5" style="display:none; margin-left:20px">
            <div class="line">
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" />
            </div>
            <div class="line">
                <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" />
            </div>
        </div>

        <div class="row form-inline" id="multiList" style="display:none;  margin-left:20px">
            <input type="hidden" id="eventCounter" value="0" />
            <button type="button" id="addNewTextBoxControl" class="addTextBox btn btn-success" style="text-align:left; margin-bottom:7px; margin-top:5px"> <span class="glyphicon glyphicon-plus"> Add New Answer</span></button>
            <div id="newTB" class="row form-inline mlSection">
                @* ------------ This is a placeholder ----- New Text boxes Created Dynamically are placed here ------------- *@
            </div>
        </div>

        <br />
        <div id="newErrorMsg" style="font-size:medium; font-weight:bold; color:red; display:none">
            @*---------------- Placeholder for Error Messages ---------------*@
        </div>

    </div>
    <div class="col-sm-6">
        <div id="divTemplateLoading" class="row" style="display:none">
            <div style="margin:30px; text-align:center">
                <br /><br />
                <span>Retrieving Templates...</span><br /><br />
                <img src="~/Images/ui-anim_basic_16x16.gif" />
            </div>
        </div>
        <div id="divTemplates" class="row" style="margin-top:10px">
            @*  // - - - - - -- - - - - INSERT HERE The Selectable Answers Templates Panel (From External Partial View) --------
                //--------------------------------------------------------------------------------------------------------------
                // - - - - - - - END OF Selectable Answers Templates Panel (From External Partial View) ------------------------
            //------------------------------------------------------------------------------------------------------------------
            *@
        </div>
    </div>
</div>
<br />




<script>
    $(document).ready(function () {
        var selCathegory = "Other";

        //We use this version To allow Dinamically Created element to inherit the event (Event attached to the static parent section)
        $("#newQATsection").on('change', '.selAnswerTextb', function () {
            $("#newErrorMsg").hide();
            $("#btnSaveNewSelAnswer").removeAttr('disabled');
            $("#btnSaveNewSelAnswer").button('reset');
        });

        ////Below 'click' version does not work for dynamically created elements defined after the page is created the first time
        //$(".selAnswerTextb").change(function () {
        //    $("#newErrorMsg").hide();
        //    $("#btnSaveNewSelAnswer").removeAttr('disabled');
        //    $("#btnSaveNewSelAnswer").button('reset');
        //});

        $("#fullSelATlist").change(function () {
            var selectedText = $(this).find('option:selected').text().substring(0, 5);
            var selectedValue = $(this).val();

            //var selectedValue = $('#fullSelATlist').val();
            $("#newErrorMsg").hide();

            //At any change, reset all the text boxes
            $('.selAnswerTextb').val("");
            //If the selected Index from the dropdown list is empty, disable the Save Button
            if (selectedText == "-Sele") {
                $('#btnSaveNewSelAnswer').attr('disabled', true);
            }
            else {
                $("#btnSaveNewSelAnswer").removeAttr('disabled');
                $("#btnSaveNewSelAnswer").button('reset');
            }

            if (selectedText == "3 Val") {
                selCathegory = "3 Val Range";
                //alert("You selected a 3-val range!")
                $('#noSelection').hide();
                $('#ValRange5').children('.selAnswerTextb').val("");
                $('#ValRange5').hide();
                $('#multiList').children('.selAnswerTextb').val("");
                $('#multiList').hide();
                $('#ValRange3').show();
            }
            else if (selectedText == "5 Val") {
                selCathegory = "5 Val Range";
                $('#noSelection').hide();
                $('#ValRange3').show();
                $('#ValRange3').children('.selAnswerTextb').val("");
                $('#multiList').hide();
                $('#multiList').children('.selAnswerTextb').val("");
                $('#ValRange5').show();
            }
            else if (selectedText == "Multi" || selectedText == "Singl") {
                selCathegory = "Other";
                $('#noSelection').hide();
                $('#ValRange3').children('.selAnswerTextb').val("");
                $('#ValRange3').hide();
                $('#ValRange5').children('.selAnswerTextb').val("");
                $('#ValRange5').hide();
                $('#multiList').show();
                //var divToAdd = '<div class="row form-inline newTB"> <input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" /> </div>'
                var addTextBoxContent = '<input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" />'
                var addDelButton = $('<button  type="button" ><span class="glyphicon glyphicon-trash"></span></button>').click(function () {
                    $(this).parent().remove();
                });
                //$('#multiList').append(divToAdd).children(".newTB").last().append(delButton);
                // Clear all previously created Text boxes if any and Add the TextBox-Del Buttons
                $('#newTB').html("");
                $('#newTB').append(addTextBoxContent);
                $('#newTB').append(addDelButton);
            }
            else {
                selCathegory = "Other";
                $('#ValRange3').hide();
                $('#ValRange3').children('.selAnswerTextb').val("");
                $('#ValRange5').hide();
                $('#ValRange5').children('.selAnswerTextb').val("");
                $('#multiList').hide();
                $('#multiList').children('.selAnswerTextb').val("");
                if (selectedText == "-Sele") {
                    $('#noSelection').hide();
                }
                else {
                    $('#noSelection').show();
                }
            }

            //Load the Templated based on the Cathegory that was selected
            //Only for the "non-Other" cathegories
            //alert("Retrieving Templates for the '" + selCathegory + "' Category");
            if (selCathegory != "Other") {
                $("#divTemplateLoading").show();   //Show the "Loading Section"
                $("#divTemplates").show();         //Show the "Templates Section"
                $.ajax({
                    url: '@Url.Action("selAnsTemplates", "Question")',
                    method: "GET",
                    cache: false,
                    dataType: "html",
                    data: { templateCathegory: selCathegory },     //<---- Data Parameters (if not already passed in the Url)
                    //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
                    //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
                    //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
                    //traditional: true,                                       //<--- In case we wanted to post a JSON data object

                    //--- On error, execute this function ------
                    error: function () {
                        $("#divTemplateLoading").hide();
                        $("#divTemplates").hide();
                        alert("Failed to retrieve appropriate Templates for Selection! [" + "selCathegory" + "]");  //<-- Trap and alert of any errors if they occurred
                    }
                }).done(function (d) {
                    //Execute this code After the Ajax call completes successfully
                    //Adjust the Columns widths and show the templates column
                    //$("#newATcol01").removeClass("col-sm-10");
                    //$("#newATcol01").addClass("col-sm-6");
                    $("#divTemplateLoading").hide();
                    $("#divTemplates").show();
                    $("#divTemplates").html(d);
                });
            }
            else {
                //$("#newATcol01").removeClass("col-sm-6");
                //$("#newATcol01").addClass("col-sm-10");
                $("#divTemplates").hide();
                $("#divTemplates").hide();
            }
        });

    });
</script>

