@model  OBSMVC.Controllers.QuestionInfo

    <table class="table table-responsive table-condensed table-hover">
        <thead>
            <tr style="background-color:lightgray">
                <th>ID</th>
                <th>Question Text</th>
                <th>Answer Type</th>
            </tr>
        </thead>   
        <tr>
            <td>@Model.question_id</td>
            <td>@Model.full_text</td>
            <td>@Html.DropDownList("Assigned Answers", Model.question_assigned_answer_types, "Select Answer Type")</td>
               
    </table>
@try
{
    <input type="hidden" id="currentSelectedQAT" name="currentSelectedQAT" value= "@Model.question_assigned_answer_types.FirstOrDefault(item => item.Selected == true).Value" >
}
catch
{
    <input type="hidden" id="currentSelectedQAT" name="currentSelectedQAT" value="-1">
}
