@* ===== THIS PARTIAL VIEW REPRESENTS A SINGLE QUESTION ANSWER TYPE ADDED TO THE FORM======= *@

@*============ THIS IS DUMMY INFORMATION NOT RETRIEVED FROM DATABASE BUT JUST MADE UP ===========*@

<div class="row" id="qRow00002" style="text-align:left">
    <div class="row">
        <div class="col-sm-1 qOrder" style="text-align:right">
            [01]
        </div>
        <div class="col-sm-10">
            <p>Harcoded Question Text</p>
        </div>
        @*<div class="col-sm-1">
            <button type="button" id="@qbtnCloseId" class="btnClose" onclick="removeQuestion('qRow00002')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>*@
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <div class="input-group">
                <div class="input-group-addon">Answer Type</div>
                <input type="text" id="AssignedAnswers" name="AssignedAnswers" value="3 Val Range" class="viewDropDown form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
            <div class="col-sm-3">
                Selectable Answers: &nbsp;&nbsp;
            </div>
            <div class="col-sm-9">
                <ul id="ul00001">
                    <li style="display: inline"><span class="badge">Yes</span></li>
                    <li style="display: inline"><span class="badge">No</span></li>
                    <li style="display: inline"><span class="badge">Maybe</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="input-group">
        <input type="hidden" id="formQuestions" name="formQuestions" value="01~17~First Section" />
    </div>
</div>
