@model IEnumerable<SelectListItem>
@{
    string ddlId = @ViewBag.dropdownID;
}
<div class="input-group-addon">Answer Type</div>
@Html.DropDownList("AssignedAnswers", Model, "-Select Answer Type-", new { id = @ddlId, @class = "viewDropDown form-control" })
<br />
