@model List<OBSMVC.DSC_CUSTOMER>
@using OBSMVC.Controllers

@{
    ViewBag.Title = "List of Customers";
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 18);
    grid.Pager(WebGridPagerModes.All);
}

<h2>List of Customers</h2>
<style type="text/css">
    /*Here we will add css for style webgrid*/
    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px #98BF21;
        background-color: white;
        
    }

        .webgrid-table td, th {
            border: 1px solid #98BF21;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: black;
        color: #FFFFFF;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;       
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: #EAF2D3;
        padding: 3px 7px 2px;
    }
</style>
<div id="content">
    @grid.GetHtml(
                tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style",
                columns: grid.Columns(

                    grid.Column(columnName: "dsc_cust_id", header: "Customer ID"),
                    grid.Column(columnName: "dsc_cust_name", header: "Customer Name"),
                    grid.Column(columnName: "dsc_cust_parent_name", header: "Customer Parent Name"),
                    grid.Column(columnName: "dsc_cust_eff_end_date", header: "Is Active Customer"),
                    grid.Column("", header: null, format:@<p> 

    @if (item.dsc_cust_eff_end_date == "YES")
    {<input type="submit" value="Deactivate"   onclick=@CustomerController.DeactivateCust(item.dsc_cust_id)/> }
    else {
        <input type="submit" value="Activate" onclick=@CustomerController.ActivateCust(item.dsc_cust_id) />}
</p>
    )))

</div>


