@{
    ViewBag.Title = "Home Page";
}

<br/><br /><br /><br /><br />

<div class="jumbotron">
    <div style="text-align:center">
        <h1>DSC &nbsp;&nbsp;Observations</h1>
    </div>
    <br /><br />
    <div style="text-align:center">
        <h1>DATA &nbsp;MANAGEMENT &nbsp;TOOL</h1>
    </div>
</div>
