@{
    ViewBag.Title = "Home Page";
}

<br/><br /><br /><br /><br />

<div class="jumbotron">
    <h1>DSC OBSERVATIONS</h1>
    <br/>
    <h1>DATA MANAGEMENT TOOL</h1>
    <p class="lead"></p>
   
</div>
